@import "reset.css";
@import "calculator.css";
.hidden {
  display: none;
}

img {
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.8;
}

.checked {
  text-decoration-line: line-through;
}
